.search__dropdown {
    background-color: rgba(247, 249, 250, 1.00);
    border: 1px solid rgba(0, 0, 0, 0.038);
    max-height: 350px;
    overflow-y: scroll;
}

.search__dropdown .search__dropdown-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search__dropdown-item{
    border: 1px solid rgba(0, 0, 0, 0.038);
}

.search__dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.071);
}

.search__item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search__item-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 2rem;
    margin-left: 2rem;
}

.search__item-details .icon-address {
    margin-right: 0.5rem;
    margin-top: 0.2rem;

}

.search__item-name {
    margin-top: 1.3rem;
    font-weight: bold;
    padding: 5px 10px;
    color: aliceblue;
    background-color: rgba(244, 85, 90, 0.782);
    border-radius: 5px;
}

.search__item-address {
    color: #777;
    display: flex;
}

.search__item-details .search__item-price h6{
    padding: 3px 10px;
    font-weight: 700;
    color: rgb(244, 85, 90);
    position: relative;
    font-weight: bold;
    border: 2px dashed rgba(0, 0, 0, 0.33);
    border-radius: 7px;
}



