

.message.success {
    background-color: #4CAF50; /* Màu nền cho thông báo thành công */
    color: white;
}

.message.error {
    background-color: #f44336; /* Màu nền cho thông báo lỗi */
    color: white;
}

.forgot__password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}